.footer-socials {
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-left: 70px;
}
.footer-socials-title {
  font-weight: 700;
  font-size: 14px;
  line-height: calc(16 / 14);
  text-transform: uppercase;
  color: var(--secondary-text-color);
  margin-bottom: 20px;
}
.footer-socials-list {
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-socials-link {
  width: 44px;
  height: 44px;
  background-color: rgba(255, 255, 255, 0.1);
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;

  transition: background-color var(--transition);

  &:hover,
  &:focus {
    background-color: var(--akcent-text-color);
  }
}
.footer-socials-icon {
  fill: var(--secondary-text-color);
}

.footer-socials-item:not(:last-child) {
  margin-right: 10px;
}
